---
name: Trivy vulnerability scanner
on:
  push:
    branches:
      - main
  # TODO: revert once https://github.com/kubernetes-csi/external-snapshot-metadata/issues/119 is fixed 
  # pull_request:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Parse go version from release-tools/prow.sh
        run: |
          GO_VERSION=$(cat release-tools/prow.sh  | grep "configvar CSI_PROW_GO_VERSION_BUILD" | awk '{print $3}' | sed 's/"//g')
          echo "Using go from release-tools: $GO_VERSION"
          echo "$GO_VERSION" >> '.go-version'

      - name: Install go
        uses: actions/setup-go@v6
        with:
          go-version-file: .go-version

      - name: Build images from Dockerfile
        run: |
          make
          docker build -t test/csi-snapshot-metadata:latest -f ./cmd/csi-snapshot-metadata/Dockerfile --output=type=docker --label revision=latest .

      - name: Run Trivy vulnerability scanner on csi-snapshot-metadata image
        uses: aquasecurity/trivy-action@master
        env:
          TRIVY_DB_REPOSITORY: "public.ecr.aws/aquasecurity/trivy-db:2"
        with:
          image-ref: 'test/csi-snapshot-metadata:latest'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN'
